@media (max-width: 480px) {
    .navWarp,
    .mainMap {
        width: 98%;
    }
}

@media (max-width: 767px) {
    .navWarp,
    .mainMap {
        width: 95%;
    }
    #navBar,
    .decWords {
        display: none;
    }
    #liliMain {
        width: 100%;
    }
    .oPhotos {
        width: 97%;
        height: 250px;
    }
}

@media (min-width: 768px) {
    .navWarp,
    .mainMap {
        width: 90%;
    }
}

@media (min-width: 992px) {
    .navWarp,
    .mainMap {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .navWarp,
    .mainMap {
        width: 60%;
    }
}
